@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* mobile styles start here */
@media screen and (max-width: 768px){

	body, p {
		font-size: 12px;
	}

}


/* mobile styles end here */


body, p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.header, h1, h2 {
	font-family: 'Covered By your Grace', cursive;
}

h1 {
	padding-top: 20px;
	font-size: 64px;
}

h2 {
	font-size: 32px;
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-block-start: 0px;
	margin-block-end: 0px;
	text-align: center;
}


.header, .footer {
	font-weight: bold;
}

.header {
	font-size: 24px;
}

.footer {
	font-size: 20px;
}

small {
	font-size: 12px;
}
