@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

/* RESETS START */
 *, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-block: 0;
	padding-block: 0;
	margin-inline: 0;
}

/* resetting font related spaces for elements */
html, body, header, main, div, figure, figcaption, img, p, br, a, small, footer {
	font-family: 'Titillium Web';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
}

a, a:visited, a:hover, a:active { 
	text-decoration: none;
	color: unset;
}

/* END OF RESETS */

/* MAIN STYLES START */


/* fixes whitespace under footer */ 
html { background-color: #000; }

body { background-color:#fff; }


header a, a#prevlink, a#nexlink, h1, h2, h3, h4, h5, h6 { font-family: 'Covered By your Grace', cursive; }

h1 { font-size: 48px; }

h2 { font-size: 24px; }

h3 { font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-weight: 400;
	margin: 0px 5px 5px 5px;
}

main p {
	padding: 0px 40px 0px 40px;
	margin-bottom: 20px;
}

.header, .footer {
	background-color: #000;
	color: #fff;
}

.header_slim {
	text-align: center;
	background-color: #fff;
	color: #000;
}

header a {
	font-size: 28px;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.header_slim a {
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	padding-left: 100px;
	padding-right: 100px;
}

header {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#footer_email {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

small {
	padding-bottom: 40px;
	font-size: 12px;
}

figcaption, figure {
		padding-top: 5px;
		margin-right: 5px;
		margin-bottom: 40px;
		margin-left: 5px;
		text-align: center;
		font-size: 14px;
	}

figure img {
	box-shadow: 0px 6px 12px 2px rgba(0,0,0,0.25), 0px 3px 7px 3px rgba(0,0,0,0.3);
	margin-bottom: 10px;
}

.socialicons img {
	width: 64px;
	height: 64px;
	margin: 40px 10px 10px 10px; 
	border: 1px solid white;
	border-radius:50px;
	background-color: white;
}

img {
	max-width: 100%;
	height: auto;
}

#prevlink_container { margin: 20px 20px 20px 40px; }
#nextlink_container { margin: 20px 40px 20px 20px; }

a#prevlink,a#nextlink {
	font-size: 64px;
	color: #000;
}

div#pl_sharebox { 
	width: 400px;
	background-color: #f3f3f3;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

div#pl_sharebox a {
	text-align: center;
	padding: 20px;
	display: block;
	border-bottom: 1px solid black;
}

div#pl_sharebox a:last-child {
	border-bottom: 0px;
}

a#share_tweet:hover {
	background-color: #1da1f2;
	color: #fff;
}

a#share_facebook:hover {
	background-color: #4267b2;
	color: #fff;
}

a#share_pinterest:hover {
	background-color: #ff91af;
	color: #fff;
}

div#pl_buybox {
	text-align: center;
	width: 400px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

div#pl_buybox a {
	background-color: #999;
	padding: 20px;
	color: #fff;
	display: block;
	border-radius: 4px;
}

div#pl_buybox a:hover {
	background-color: #f1641e;
	color: #000;
}

div#pl_buybox a:active {
	background-color: #fff;
	border: 1px solid black;
	color: #f1641e;
}

/* Hide nozoom container on desktop, to not duplicate with zoom */

@media screen and (min-width: 811px){
div.img-nozoom-container { display: none; }
}

/* END OF  MAIN STYLES */

/* MOBILES AND TABLETS START */

@media screen and (max-width: 810px){

/* hide zoom widget on mobile */
div.img-zoom-container, div.img-zoom-result { display:none; }

/* show nozoom container on mobile */
div.img-nozoom-container { display: block; }

/* make share box and etsy buy button responsive (individual artwork pages) */
div#pl_sharebox, div#pl_buybox {
	max-width: 90%;
}

.header, .footer { text-align: center; }
	
.hr1c4 { padding-right: 0px; }

header a { font-size: 28px; }

#prevlink_container { margin: 5px 5px 5px 10px; }
#nextlink_container { margin: 5px 10px 5px 5px; }

a#prevlink,a#nextlink {
	font-size: 32px;
}

}

/* END OF MOBILES AND TABLETS */


/* IMAGE ZOOM SCRIPT STYLES START */

.img-zoom-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 400px;
  height: 400px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

/* END OF ZOOM SCRIPT STYLES */

/* GRIDSTYLES START */

@supports(display: grid){
	@media screen and (min-width: 811px){
			
.header {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto ; /* edit to auto auto to have two rows again for the splash image */
	grid-column-gap: 20px;
	grid-row-gap: 15px;
}

/* ROW LINE START / COL LINE START / ROW LINE END / COL LINE END */

.hr1c1234 { grid-area: 1 / 1 / 2 / 5; } /* cover header row 1 cells 1,2,3,4 */
.hr1c123 { grid-area: 1 / 1 / 2 / 4; } /* cover header row 1 cells 1,2,3 */
.hr1c12 { grid-area: 1 / 1 / 2 / 3; } /* cover header row 1 cells 1,2 */
.hr1c1 { grid-area: 1 / 1 / 2 / 2; } /* cover header row 1 cell 1 */
.hr1c234 { grid-area: 1 / 2 / 2 / 5; } /* cover header row 1 cells 2,3,4 */
.hr1c23 { grid-area: 1 / 2 / 2 / 4; } /* cover header row 1 cells 2,3 */
.hr1c2 { grid-area: 1 / 2 / 2 / 3; } /* cover header row 1 cell 2 */
.hr1c34 { grid-area: 1 / 3 / 2 / 5; } /* cover header row 1 cells 3,4 */
.hr1c3 { grid-area: 1 / 3 / 2 / 4; } /* cover header row 1 cell 3 */
.hr1c4 { grid-area: 1 / 4 / 2 / 5; } /* cover header row 1 cell 4 */


/* .hr2c1234 { grid-area: 2 / 1 / 3 / 5; } */
/* cover header row 2 cells 1,2,3,4 - splash image */

.main {
	display: grid;
	grid-template-columns: 1fr 5fr 5fr 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.mr1c1234 { grid-area: 1 / 1 / 2 / 5; } /* cover main row 1 cells 1,2,3,4 */
.mr1c123 { grid-area: 1 / 1 / 2 / 4; } /* cover main row 1 cells 1,2,3 */
.mr1c12 { grid-area: 1 / 1 / 2 / 3; } /* cover main row 1 cells 1,2 */
.mr1c1 { grid-area: 1 / 1 / 2 / 2; } /* cover main row 1 cell 1 */
.mr1c234 { grid-area: 1 / 2 / 2 / 5; } /* cover main row 1 cells 2,3,4 */
.mr1c23 { grid-area: 1 / 2 / 2 / 4; } /* cover main row 1 cells 2,3 */
.mr1c2 { grid-area: 1 / 2 / 2 / 3; } /* cover main row 1 cell 2 */
.mr1c34 { grid-area: 1 / 3 / 2 / 5; } /* cover main row 1 cells 3,4 */
.mr1c3 { grid-area: 1 / 3 / 2 / 4; } /* cover main row 1 cell 3 */
.mr1c4 { grid-area: 1 / 4 / 2 / 5; } /* cover main row 1 cell 4 */

.mr2c1234 { grid-area: 2 / 1 / 3 / 5; } /* cover main row 2 cells 1,2,3,4 */
.mr2c123 { grid-area: 2 / 1 / 3 / 4; } /* cover main row 2 cells 1,2,3 */
.mr2c12 { grid-area: 2 / 1 / 3 / 3; } /* cover main row 2 cells 1,2 */
.mr2c1 { grid-area: 2 / 1 / 3 / 2; } /* cover main row 2 cell 1 */
.mr2c234 { grid-area: 2 / 2 / 3 / 5; } /* cover main row 2 cells 2,3,4 */
.mr2c23 { grid-area: 2 / 2 / 3 / 4; } /* cover main row 2 cells 2,3 */
.mr2c2 { grid-area: 2 / 2 / 3 / 3; } /* cover main row 2 cell 2 */
.mr2c34 { grid-area: 2 / 3 / 3 / 5; } /* cover main row 2 cells 3,4 */
.mr2c3 { grid-area: 2 / 3 / 3 / 4; } /* cover main row 2 cell 3 */
.mr2c4 { grid-area: 2 / 4 / 3 / 5; } /* cover main row 2 cell 4 */

.mr3c1234 { grid-area: 3 / 1 / 4 / 5; } /* cover main row 3 cells 1,2,3,4 */
.mr3c123 { grid-area: 3 / 1 / 4 / 4; } /* cover main row 3 cells 1,2,3 */
.mr3c12 { grid-area: 3 / 1 / 4 / 3; } /* cover main row 3 cells 1,2 */
.mr3c1 { grid-area: 3 / 1 / 4 / 2; } /* cover main row 3 cell 1 */
.mr3c234 { grid-area: 3 / 2 / 4 / 5; } /* cover main row 3 cells 2,3,4 */
.mr3c23 { grid-area: 3 / 2 / 4 / 4; } /* cover main row 3 cells 2,3 */
.mr3c2 { grid-area: 3 / 2 / 4 / 3; } /* cover main row 3 cell 2 */
.mr3c34 { grid-area: 3 / 3 / 4 / 5; } /* cover main row 3 cells 3,4 */
.mr3c3 { grid-area: 3 / 3 / 4 / 4; } /* cover main row 3 cell 3 */
.mr3c4 { grid-area: 3 / 4 / 4 / 5; } /* cover main row 3 cell 4 */

.mr4c1234 { grid-area: 4 / 1 / 5 / 5; } /* cover main row 4 cells 1,2,3,4 */
.mr4c123 { grid-area: 4 / 1 / 5 / 4; } /* cover main row 4 cells 1,2,3 */
.mr4c12 { grid-area: 4 / 1 / 5 / 3; } /* cover main row 4 cells 1,2 */
.mr4c1 { grid-area: 4 / 1 / 5 / 2; } /* cover main row 4 cell 1 */
.mr4c234 { grid-area: 4 / 2 / 5 / 5; } /* cover main row 4 cells 2,3,4 */
.mr4c23 { grid-area: 4 / 2 / 5 / 4; } /* cover main row 4 cells 2,3 */
.mr4c2 { grid-area: 4 / 2 / 5 / 3; } /* cover main row 4 cell 2 */
.mr4c34 { grid-area: 4 / 3 / 5 / 5; } /* cover main row 4 cells 3,4 */
.mr4c3 { grid-area: 4 / 3 / 5 / 4; } /* cover main row 4 cell 3 */
.mr4c4 { grid-area: 4 / 4 / 5 / 5; } /* cover main row 4 cell 4 */

.mr5c1234 { grid-area: 5 / 1 / 6 / 5; } /* cover main row 5 cells 1,2,3,4 */
.mr5c123 { grid-area: 5 / 1 / 6 / 4; } /* cover main row 5 cells 1,2,3 */
.mr5c12 { grid-area: 5 / 1 / 6 / 3; } /* cover main row 5 cells 1,2 */
.mr5c1 { grid-area: 5 / 1 / 6 / 2; } /* cover main row 5 cell 1 */
.mr5c234 { grid-area: 5 / 2 / 6 / 5; } /* cover main row 5 cells 2,3,4 */
.mr5c23 { grid-area: 5 / 2 / 6 / 4; } /* cover main row 5 cells 2,3 */
.mr5c2 { grid-area: 5 / 2 / 6 / 3; } /* cover main row 5 cell 2 */
.mr5c34 { grid-area: 5 / 3 / 6 / 5; } /* cover main row 5 cells 3,4 */
.mr5c3 { grid-area: 5 / 3 / 6 / 4; } /* cover main row 5 cell 3 */
.mr5c4 { grid-area: 5 / 4 / 6 / 5; } /* cover main row 5 cell 4 */

.mr6c1234 { grid-area: 6 / 1 / 7 / 5; } /* cover main row 6 cells 1,2,3,4 */
.mr6c123 { grid-area: 6 / 1 / 7 / 4; } /* cover main row 6 cells 1,2,3 */
.mr6c12 { grid-area: 6 / 1 / 7 / 3; } /* cover main row 6 cells 1,2 */
.mr6c1 { grid-area: 6 / 1 / 7 / 2; } /* cover main row 6 cell 1 */
.mr6c234 { grid-area: 6 / 2 / 7 / 5; } /* cover main row 6 cells 2,3,4 */
.mr6c23 { grid-area: 6 / 2 / 7 / 4; } /* cover main row 6 cells 2,3 */
.mr6c2 { grid-area: 6 / 2 / 7 / 3; } /* cover main row 6 cell 2 */
.mr6c34 { grid-area: 6 / 3 / 7 / 5; } /* cover main row 6 cells 3,4 */
.mr6c3 { grid-area: 6 / 3 / 7 / 4; } /* cover main row 6 cell 3 */
.mr6c4 { grid-area: 6 / 4 / 7 / 5; } /* cover main row 6 cell 4 */


.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.fr1c1234 { grid-area: 1 / 1 / 2 / 5; } /* cover footer row 1 cells 1,2,3,4 */
.fr1c123 { grid-area: 1 / 1 / 2 / 4; } /* cover footer row 1 cells 1,2,3 */
.fr1c12 { grid-area: 1 / 1 / 2 / 3; } /* cover footer row 1 cells 1,2 */
.fr1c1 { grid-area: 1 / 1 / 2 / 2; } /* cover footer row 1 cell 1 */
.fr1c234 { grid-area: 1 / 2 / 2 / 5; } /* cover footer row 1 cells 2,3,4 */
.fr1c23 { grid-area: 1 / 2 / 2 / 4; } /* cover footer row 1 cells 2,3 */
.fr1c2 { grid-area: 1 / 2 / 2 / 3; } /* cover footer row 1 cell 2 */
.fr1c34 { grid-area: 1 / 3 / 2 / 5; } /* cover footer row 1 cells 3,4 */
.fr1c3 { grid-area: 1 / 3 / 2 / 4; } /* cover footer row 1 cell 3 */
.fr1c4 { grid-area: 1 / 4 / 2 / 5; } /* cover footer row 1 cell 4 */


.fr2c1234 { grid-area: 2 / 1 / 3 / 5; } /* cover footer row 2 cells 1,2,3,4 */
.fr2c123 { grid-area: 2 / 1 / 3 / 4; } /* cover footer row 2 cells 1,2,3 */
.fr2c12 { grid-area: 2 / 1 / 3 / 3; } /* cover footer row 2 cells 1,2 */
.fr2c1 { grid-area: 2 / 1 / 3 / 2; } /* cover footer row 2 cell 1 */
.fr2c234 { grid-area: 2 / 2 / 3 / 5; } /* cover footer row 2 cells 2,3,4 */
.fr2c23 { grid-area: 2 / 2 / 3 / 4; } /* cover footer row 2 cells 2,3 */
.fr2c2 { grid-area: 2 / 2 / 3 / 3; } /* cover footer row 2 cell 2 */
.fr2c34 { grid-area: 2 / 3 / 3 / 5; } /* cover footer row 2 cells 3,4 */
.fr2c3 { grid-area: 2 / 3 / 3 / 4; } /* cover footer row 2 cell 3 */
.fr2c4 { grid-area: 2 / 4 / 3 / 5; } /* cover footer row 2 cell 4 */

.fr3c1234 { grid-area: 3 / 1 / 3 / 5; } /* cover footer row 3 cells 1,2,3,4 */
.fr3c123 { grid-area: 3 / 1 / 3 / 4; } /* cover footer row 3 cells 1,2,3 */
.fr3c12 { grid-area: 3 / 1 / 3 / 3; } /* cover footer row 3 cells 1,2 */
.fr3c1 { grid-area: 3 / 1 / 3 / 2; } /* cover footer row 3 cell 1 */
.fr3c234 { grid-area: 3 / 2 / 3 / 5; } /* cover footer row 3 cells 2,3,4 */
.fr3c23 { grid-area: 3 / 2 / 3 / 4; } /* cover footer row 3 cells 2,3 */
.fr3c2 { grid-area: 3 / 2 / 3 / 3; } /* cover footer row 3 cell 2 */
.fr3c34 { grid-area: 3 / 3 / 3 / 5; } /* cover footer row 3 cells 3,4 */
.fr3c3 { grid-area: 3 / 3 / 3 / 4; } /* cover footer row 3 cell 3 */
.fr3c4 { grid-area: 3 / 4 / 3 / 5; } /* cover footer row 3 cell 4 */

}

/* END OF GRIDSTYLES */

/* GRIDSTYLE TWEAKS START */

/* main row 1 paragraph centered */
.mr1c1234 { justify-self: center; }

/* center footer first row contents (social icons) */
.fr1c1234 { justify-self: center; }

/* center footer second row contents (email) */
.fr2c1234, .fr3c1234 { justify-self: center; }

/* right-align and pad header nav */
.hr1c4 {
	justify-self: end;
	padding-right: 40px;
}

/* END OF GRIDSTYLE TWEAKS */
